<a href="https://colab.research.google.com/github/MalleVaddi/HTMLForms/blob/main/Assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
import pandas as pd
data1 = pd.read_csv('/content/drive/MyDrive/Assignment 1/employee_general.csv', sep="|")
data1

      EmployeeNumber      Education EducationField MaritalStatus
0                  1        College  Life Sciences        Single
1                  2  Below College  Life Sciences       Married
2                  4        College          Other        Single
3                  5         Master  Life Sciences       Married
4                  7  Below College        Medical       Married
...              ...            ...            ...           ...
1465            2061        College        Medical       Married
1466            2062  Below College        Medical       Married
1467            2064       Bachelor  Life Sciences       Married
1468            2065       Bachelor        Medical       Married
1469            2068       Bachelor        Medical       Married

[1470 rows x 4 columns]

In [3]:
data1.dtypes

EmployeeNumber     int64
Education         object
EducationField    object
MaritalStatus     object
dtype: object

The data consists of the following columns:

- `EmployeeNumber`: Employee Identification Number
- `Education`: "Below College", "College", "Bachelor", "Master" or "Doctor"
- `EducationField`: "Human Resources", "Life Sciences", "Marketing", "Medical" ,"Technical Degree" or "Other"
- `MaritalStatus`: "Single", "Married", "Divorced"

In [4]:
data2 =  pd.read_csv('/content/drive/MyDrive/Assignment 1/employee_rating.csv')
data2

,EmployeeNumber,Department,EnvironmentSatisfaction,JobRole,PerformanceRating,YearsAtCompany,YearsInCurrentRole,MonthlyIncome
0,1,Sales,Medium,Sales Executive,Excellent,6,4,5993
1,2,Research & Development,High,Research Scientist,Outstanding,10,7,5130
2,4,Research & Development,Very High,Laboratory Technician,Excellent,0,0,2090
3,5,Research & Development,Very High,Research Scientist,Excellent,8,7,2909
4,7,Research & Development,Low,Laboratory Technician,Excellent,2,2,3468
...,...,...,...,...,...,...,...,...
1465,2061,Research & Development,High,Laboratory Technician,Excellent,5,2,2571
1466,2062,Research & Development,Very High,Healthcare Representative,Excellent,7,7,9991
1467,2064,Research & Development,Medium,Manufacturing Director,Outstanding,6,2,6142
1468,2065,Sales,Very High,Sales Executive,Excellent,9,6,5390
1469,2068,Research & Development,Medium,Laboratory Technician,Excellent,4,3,4404

In [5]:
data2.dtypes

EmployeeNumber              int64
Department                 object
EnvironmentSatisfaction    object
JobRole                    object
PerformanceRating          object
YearsAtCompany              int64
YearsInCurrentRole          int64
MonthlyIncome               int64
dtype: object

The data consists of the following columns:

- `EmployeeNumber`: Employee Identification Number
- `Department`: "Sales", "Research & Development", "Human Resources"
- `EnvironmentSatisfaction`: "Low", "Medium", "High", "Very High"
- `JobRole`: "Manager", "Human Resources"
- `PerformanceRating`: "Excellent", "Outstanding"
- `YearsAtCompany`: Numerical value of No.of years at Company
- `YearsInCurrentRole`: Numerical value of No.of years at Current Role
- `MonthlyIncome`: Monthly Income of the employee

In [6]:
import numpy as np

data2['log_income'] = np.log(data2['MonthlyIncome'])
data2

,EmployeeNumber,Department,EnvironmentSatisfaction,JobRole,PerformanceRating,YearsAtCompany,YearsInCurrentRole,MonthlyIncome,log_income
0,1,Sales,Medium,Sales Executive,Excellent,6,4,5993,8.698347
1,2,Research & Development,High,Research Scientist,Outstanding,10,7,5130,8.542861
2,4,Research & Development,Very High,Laboratory Technician,Excellent,0,0,2090,7.644919
3,5,Research & Development,Very High,Research Scientist,Excellent,8,7,2909,7.975565
4,7,Research & Development,Low,Laboratory Technician,Excellent,2,2,3468,8.151333
...,...,...,...,...,...,...,...,...,...
1465,2061,Research & Development,High,Laboratory Technician,Excellent,5,2,2571,7.852050
1466,2062,Research & Development,Very High,Healthcare Representative,Excellent,7,7,9991,9.209440
1467,2064,Research & Development,Medium,Manufacturing Director,Outstanding,6,2,6142,8.722906
1468,2065,Sales,Very High,Sales Executive,Excellent,9,6,5390,8.592301
1469,2068,Research & Development,Medium,Laboratory Technician,Excellent,4,3,4404,8.390268

In the employee_rating dataset, we can convert columns `EnvironmentSatisfaction` and `PerformanceRating` to numbers. In the below command, I have mapped the values of these two columns to numbers and assigned the resulted values to the new columns `EnvironmentSatisfaction_level`, `Performance_score` respectively.

In [7]:
EnvironmentSatisfaction_map = {
    'Low':1,
    'Medium':2,
    'High':3,
    'Very High' : 4
}
PerformanceRating_map = {
    'Excellent':1,
    'Outstanding':2
}

data2['EnvironmentSatisfaction_level'] = data2['EnvironmentSatisfaction'].map(EnvironmentSatisfaction_map)
data2['Performance_score'] = data2['PerformanceRating'].map(PerformanceRating_map)
data2

,EmployeeNumber,Department,EnvironmentSatisfaction,JobRole,PerformanceRating,YearsAtCompany,YearsInCurrentRole,MonthlyIncome,log_income,EnvironmentSatisfaction_level,Performance_score
0,1,Sales,Medium,Sales Executive,Excellent,6,4,5993,8.698347,2,1
1,2,Research & Development,High,Research Scientist,Outstanding,10,7,5130,8.542861,3,2
2,4,Research & Development,Very High,Laboratory Technician,Excellent,0,0,2090,7.644919,4,1
3,5,Research & Development,Very High,Research Scientist,Excellent,8,7,2909,7.975565,4,1
4,7,Research & Development,Low,Laboratory Technician,Excellent,2,2,3468,8.151333,1,1
...,...,...,...,...,...,...,...,...,...,...,...
1465,2061,Research & Development,High,Laboratory Technician,Excellent,5,2,2571,7.852050,3,1
1466,2062,Research & Development,Very High,Healthcare Representative,Excellent,7,7,9991,9.209440,4,1
1467,2064,Research & Development,Medium,Manufacturing Director,Outstanding,6,2,6142,8.722906,2,2
1468,2065,Sales,Very High,Sales Executive,Excellent,9,6,5390,8.592301,4,1
1469,2068,Research & Development,Medium,Laboratory Technician,Excellent,4,3,4404,8.390268,2,1

In the employee_general dataset, we can categorize values of columns `Education` and `MaritalStatus`. In the below command, I have mapped the values of these two columns to numbers and assigned the resulted values to the new columns Education_Category, MaritalStatus_score respectively.

In [8]:
Education_map = {
    'Below College':1,
    'College':2,
    'Bachelor':3,
    'Master' : 4,
    'Doctor' : 5,
}
MaritalStatus_map = {
    'Single':1,
    'Married':2,
    'Divorced':3
}

data1['Education_Category'] = data1['Education'].map(Education_map)
data1['MaritalStatus_score'] = data1['MaritalStatus'].map(MaritalStatus_map)
data1

,EmployeeNumber,Education,EducationField,MaritalStatus,Education_Category,MaritalStatus_score
0,1,College,Life Sciences,Single,2,1
1,2,Below College,Life Sciences,Married,1,2
2,4,College,Other,Single,2,1
3,5,Master,Life Sciences,Married,4,2
4,7,Below College,Medical,Married,1,2
...,...,...,...,...,...,...
1465,2061,College,Medical,Married,2,2
1466,2062,Below College,Medical,Married,1,2
1467,2064,Bachelor,Life Sciences,Married,3,2
1468,2065,Bachelor,Medical,Married,3,2
1469,2068,Bachelor,Medical,Married,3,2

Merging both `employee_rating` and `employee_general `

In [9]:
data1.merge(data2, on='EmployeeNumber')

,EmployeeNumber,Education,EducationField,MaritalStatus,Education_Category,MaritalStatus_score,Department,EnvironmentSatisfaction,JobRole,PerformanceRating,YearsAtCompany,YearsInCurrentRole,MonthlyIncome,log_income,EnvironmentSatisfaction_level,Performance_score
0,1,College,Life Sciences,Single,2,1,Sales,Medium,Sales Executive,Excellent,6,4,5993,8.698347,2,1
1,2,Below College,Life Sciences,Married,1,2,Research & Development,High,Research Scientist,Outstanding,10,7,5130,8.542861,3,2
2,4,College,Other,Single,2,1,Research & Development,Very High,Laboratory Technician,Excellent,0,0,2090,7.644919,4,1
3,5,Master,Life Sciences,Married,4,2,Research & Development,Very High,Research Scientist,Excellent,8,7,2909,7.975565,4,1
4,7,Below College,Medical,Married,1,2,Research & Development,Low,Laboratory Technician,Excellent,2,2,3468,8.151333,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,2061,College,Medical,Married,2,2,Research & Development,High,Laboratory Technician,Excellent,5,2,2571,7.852050,3,1
1466,2062,Below College,Medical,Married,1,2,Research & Development,Very High,Healthcare Representative,Excellent,7,7,9991,9.209440,4,1
1467,2064,Bachelor,Life Sciences,Married,3,2,Research & Development,Medium,Manufacturing Director,Outstanding,6,2,6142,8.722906,2,2
1468,2065,Bachelor,Medical,Married,3,2,Sales,Very High,Sales Executive,Excellent,9,6,5390,8.592301,4,1
1469,2068,Bachelor,Medical,Married,3,2,Research & Development,Medium,Laboratory Technician,Excellent,4,3,4404,8.390268,2,1